.event_block {
    border: 1px solid grey;
    margin-left: 5px;
    margin-top: 10px;
    width: 340px;
}

.event_title {
    max-width: 350px;
    margin-left: 5px;
}

h5 {
    margin-left: 5px;
}

.event_btns {
    display: grid;
    grid-template-columns: 50% 50%;
}